@model IEnumerable<LaboratorioWebCore.Models.Paciente>

@{
    ViewData["Title"] = "Listar";
}

<h2>Listar</h2>

<p>
    <a asp-action="Novo" class="btn btn-success btn-lg"><i class="glyphicon glyphicon-plus"></i> Novo</a>
</p>
<table class="table table-hover table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnumTipoConveniado)
            </th>
            <th>@Html.DisplayNameFor(model => model.DataNascimento)</th>
            <th>@Html.DisplayNameFor(q => q.PlanoDeSaude)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(h => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(d => item.EnumTipoConveniado)
                </td>
                <td>
                    @Html.DisplayFor(c => item.DataNascimento)
                </td>
                <td>
                    @Html.DisplayFor(m => item.PlanoDeSaude.Descricao)
                </td>
                <td>
                    <a class="btn btn-default btn-sm" href="@Url.Action("Editar", "Paciente", new { id = item.PacienteId })"><i class="glyphicon glyphicon-pencil"></i></a>
                    <a class="btn btn-default btn-sm" href="@Url.Action("Delete", "Paciente", new { item.PacienteId })"><i class="glyphicon glyphicon-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
