@model LaboratorioWebCore.Models.Paciente
@{
    ViewBag.Title = "Novo";
}

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <h4>Novo Paciente</h4>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.Nome, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Nome, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DataNascimento, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.DataNascimento, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PlanoDeSaude, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PlanoDeSaudeId", null, string.Empty, new { @class = "form-control" })
            </div>
            
            @*<div class="col-md-10">
                @Html.DropDownList("PlanoDeSaudeId", (SelectList)ViewBag.PlanoDeSaude, string.Empty, new { @class = "form-control" })
            </div>*@
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EnumTipoConveniado, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.EnumTipoConveniado, new { @class = "form-control" })
            </div>
        </div>


        @*AQUI TRABALHAREMOS O MODAL*@
        <div class="form-group">
            @Html.HiddenFor(model => model.CidadeId)
            @Html.LabelFor(model => model.CidadeId, new {@class = "control-label col-md-2"})
            <div class="input-group col-md-3">
                @Html.TextBoxFor(model => model.Cidade.Nome, new {@class = "form-control"})
                <a href="#" id="btnBuscarCidade" class="btn btn-default input-group-addon" data-toggle="modal" data-target="#myModal">
                    <i class="glyphicon glyphicon-search"></i>
                </a>
            </div>
            @Html.ValidationMessageFor(model => model.CidadeId, "", new {@class = "text-danger"})
        </div>
        <input type="submit" value="Gravar" class="btn btn-lg btn-success">
    </div>
}

@*MODAL CONSULTANDO ENDEREÇO*@
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Selecione a cidade</h4>
            </div>
            <div class="modal-body">
                @Html.LabelFor(model => model.Cidade.Estado)
                @Html.EnumDropDownListFor(model => model.Cidade.Estado, "Selecione...", new { @class = "form-control" })
                <div class="row" id="cidadeEstado">
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $("#Cidade_Estado").on("change", function () {
            var estadoView = $(this).val();
            $("#cidadeEstado").load('@Url.Action("ListarPorEstadoPraCliente", "Cidade")', { estado: estadoView });
        });

        $("#cidadeEstado").on("click", "td a", function () {
            $("#CidadeId").val($(this).attr("id"));
            $("#Cidade_Nome").val($(this).attr("data-value"));
            //$("#est").val($(this).attr("data-value"));
            $("#myModal").modal("hide");
        });
    </script>
}